{% extends "base.html" %}

{% block content %}
    <h1>Search grid for model {{ uuid }}</h1>
    <table class="modelgrid">
    <caption>
      Chooser = {{ modelgrid.chooser }};
      minimize = {{ modelgrid.minimize }}
    </caption>
    <thead>
      <tr>
        {% for column in columns %}
          <th>{{ column }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for index, row in grid.iterrows() %}
        {% if row["_loop_status"] == "complete" %}
          <tr bgcolor="#01ff00">
        {% elif row["_loop_status"] == "pending" %}
          <tr bgcolor="#ebff00">
        {% else %}
          <tr>
        {% endif %}
          {% for column in columns %}
            <td>{{ row[column] }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}

