<!DOCTYPE html>
<html>
  <head>
    <title>Loop</title>
    <style>
    	.modelgrid {
    		border:1px solid #C0C0C0;
    		border-collapse:collapse;
    		padding:5px;
    	}
    	.modelgrid th {
    		border:1px solid #C0C0C0;
    		padding:5px;
    		background:#F0F0F0;
    	}
    	.modelgrid td {
    		border:1px solid #C0C0C0;
    		padding:5px;
    	}
    </style>
  </head>
  <body>
    <h1>Search grid for model {{ uuid }}</h1>
    <table class="modelgrid">
    	<thead>
    	<tr>
    		{% for column in columns %}
          <th>{{ column }}</th>
        {% endfor %}
    	</tr>
    	</thead>
    	<tbody>
      {% for index, row in grid.sort_values(by="_loop_id").iterrows() %}
        {% if row["_loop_status"] == "complete" %}
          <tr bgcolor="#01ff00">
        {% elif row["_loop_status"] == "pending" %}
          <tr bgcolor="#ebff00">
        {% else %}
          <tr>
        {% endif %}
          {% for column in columns %}
            <td>{{ row[column] }}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    	</tbody>
    </table>

  </body>
</html>
